<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>New Flower</h1>
  <form action="/flowers" method="POST" autocomplete="off">
    <input type="text" name="name" placeholder="Flower Name">
    <label for="type">Type:
      <select name="type" id="type">
        <option value="Perennial">Perennial</option>
        <option value="Non-Perennial">Non-Perennial</option>
      </select>
    </label>
    <button type="submit">Add Flower</button>
  </form>
</body>
</html>