<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Flowers</h1>
  <a href="/flowers/<%= flower._id %>/edit">✏️ Edit Flower</a>
  <h2>Flower #<%= flower._id %></h2>
  <h3><%= flower.name %></h3>
  <p>Planted: <%= flower.planted ? 'Yes' : 'No' %></p>
  <a href="/flowers">Go back</a>
</body>
</html>